{% assign t = site.data.translations[page.lang] %}
{% assign tmenu = t['menu'] %}
{% capture page_lang_link %}/{{ page.lang | prepend: site.baseurl }}{% endcapture %}

<nav id="top_nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#canfar_navbar_collapse" aria-expanded="false">
        <span class="sr-only">{{ t.toggle_navigation }}</span>
      </button>
      <a class="navbar-brand" href="{{ t.home.uri }}"><img src="{{ '/css/images/logo.png' | prepend: site.baseurl }}"></a>
    </div>

    <div id="canfar_navbar_collapse" class="collapse navbar-collapse">
      <ul id="navbar_list" class="nav navbar-nav pull-right">
        {% for menu in site.data.menudata %}
        {% assign mm = menu[0] %}
        {% assign tm = tmenu[mm] %}
        {% if site.data.menudata[mm].size > 0 %}
        <li class="dropdown">
          <a href="{{ page_lang_link}}{{ tm.uri }}" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">{{ tm.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu list-unstyled">
            {% for submenu in site.data.menudata[mm] %}
              {% assign smm = submenu[0] %}
              {% assign stm = tm[smm] %}
              {% capture stm_uri %}{% if stm.uri contains 'http' %}{{ stm.uri }}{% else %}{{ page_lang_link }}{{ tm.uri }}{{ stm.uri }}{% endif %}{% endcapture %}
              <li><a href="{{ stm_uri }}" class="menu-item-indent-1">{{ stm.name }}</a></li>
              {% if site.data.menudata[mm][smm].size > 0 %}
                {% for subsubmenu in site.data.menudata[mm][smm] %}
                  {% assign ssmm = subsubmenu[0] %}
                  {% assign sstm = stm[ssmm] %}
                  {% capture sstm_uri %}{% if sstm.uri contains 'http' %}{{ sstm.uri }}{% else %}{{ page_lang_link }}{{ tm.uri }}{{ stm.uri }}{{ sstm.uri }}{% endif %}{% endcapture %}
                  <li><a href="{{ sstm_uri }}" class="menu-item-indent-2">{{ sstm.name }}</a></li>
                {% endfor %}
              {% endif %}
            {% endfor %}
            <li role="separator" class="divider"></li>
            <li><a href="{{ page_lang_link }}{{ tm.uri }}">{{ tm.name }}</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{{ tm.uri }}">{{ tm.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div> <!-- end .navbar-collapse -->
  </div> <!-- end .conatiner -->
</nav>
